<div class="copyright">
  &copy; 2010&ndash;2021, Chiraag Nataraj. All work is licensed under the
  <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">
    Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
  </a>
  unless otherwise noted. Website last updated October, 2022. <a href="https://gitlab.com/chiraag-nataraj/chiraag.me" target="_blank">Source code</a>.
</div>
